[submodule "src/Submodules/CLIP"]
	path = src/Submodules/CLIP
	url = git@github.com:openai/CLIP.git
[submodule "src/Submodules/torch_warmup_lr"]
	path = src/Submodules/torch_warmup_lr
	url = git@github.com:lehduong/torch-warmup-lr.git
