[submodule "src/Submodules/CLIP"]
	path = src/Submodules/CLIP
	url = git@github.com:openai/CLIP.git
[submodule "src/Submodules/torch_warmup_lr"]
	path = src/Submodules/torch_warmup_lr
	url = https://github.com/lehduong/torch-warmup-lr.git
[submodule "src/Submodules/ConCLIP"]
	path = src/Submodules/ConCLIP
	url = https://github.com/vgthengane/Continual-CLIP
